@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

    .animate-fadeIn {
        animation: fadeIn 0.3s ease-in;
    }

    .animate-fadeOut {
        animation: fadeOut 0.3s ease-out;
    }
}
